VITE_GOOGLE_CLIENT_ID=924920443826-k59m97pgabmdb42qv9cq63plmuuvvn7s.apps.googleusercontent.com
VITE_ADMIN_EMAILS=admin@example.com
VITE_API_BASE_URL=http://127.0.0.1:8787
ADMIN_EMAILS=admin@example.com
ALLOWED_ORIGINS=http://127.0.0.1:5173,https://sanghakbae.github.io
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_PUBLIC_BASE_URL=
