VITE_GOOGLE_CLIENT_ID=512795114030-n0peq4vula8vrc2umfj8b6gfcjufo8sg.apps.googleusercontent.com
VITE_ADMIN_EMAILS=admin@example.com
VITE_API_BASE_URL=http://127.0.0.1:8787
ADMIN_EMAILS=admin@example.com
ALLOWED_ORIGINS=http://127.0.0.1:5173,https://sanghakbae.github.io
